$myColorx:#BB162B;
$myColory:#262626;
$myColorz:white;
$myColora:rgb(149, 146, 146);
$myColorw:rgba(214, 205, 205, 0.301);
$myFont:'KoHo', sans-serif;
$myFonts:'Goblin One', cursive;


$myFontSize: 30px;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        height: 100%;
        //code css section header
        .containerheader{
            width: 100%;
            // height: px;
            .containerheader-nav1{
                width:100%;
                height: 50px;
                background-color:$myColorw;
                .containerheader-nav1--block1{
                    
                    padding-top: 15px;
                     float: left;
                     margin-left: 5%;
                     .vertical-line{
                        border-left: 1px solid rgb(180, 176, 176);
                        display: inline-block;
                        height: 20px;
                        margin: 0 5px;
                      }

                    
                     .containerheader-nav1--block1--item{
                         color: $myColora;
                         font-family: $myFont;
                        list-style-type: none;
                        display: inline-block;
                        padding: 5px 20px;
                        font-weight: bold;
                        cursor: pointer;
                     }
                }
                .containerheader-nav1--block2{
                   
                    padding-top: 15px;
                    float: right;
                    margin-right: 5%;
                    .vertical-linee{
                        text-align: center;
                        border-left: 1px solid rgb(89, 90, 89);
                        display: inline-block;
                        height: 20px;
                        margin: 0 5px;
                      }
                    .containerheader-nav1--block2--item {
                        color: $myColora;
                        list-style-type: none;
                        display: inline-block;
                        padding: 5px 20px;
                        font-weight: bold;
                        cursor: pointer;
                       
                    }

                }
            }
            .containerheader-nav2{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                width:90%;
                margin: 0 auto;
               .containerheader-nav2--block1{
                   display:flex;
                   flex-direction: row;
                   align-items: center;
                   .containerheader-nav2--block1--item1{
                       width: 150px;
                       height: auto;
                   }
                   .vertical-line{
                    border-left: 2px solid rgb(179, 168, 168);
                    display: inline-block;
                    height: 50px;
                    margin: 0 20px;
                  }
                   .containerheader-nav2--block1--item2{
                    font-size: 15px;
                    .containerheader-nav2--block1--item2__mod1{
                        font-family: $myFonts;
                    }
                    .containerheader-nav2--block1--item2__mod2{
                        color: gray;
                        font-size: small;
                    }
                }
               }
               .containerheader-nav2--block2{
                   margin-right: 15%;
                .containerheader-nav2--block2--item1{
                    text-transform: uppercase;
                    list-style-type: none;
                    display: inline-block;
                    padding: 5px 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
               } 
            }
            .containerheader-nav3{
                background-color: $myColorx;
                .containerheader-nav3-item{
                    color: $myColorz;
                    margin-left:5%;
                    list-style-type: none;
                    display: inline-block;
                    padding: 5px 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        //code css section heroheader

        .heroheader{
            background-image:linear-gradient((rgba(0, 0, 0, 0.267),rgba(0, 0, 0, 0.363))), url('../images/0.png');
            background-size: cover;
            background-position: center;
            height: 90vh;
            .heroheader--titre{
                text-transform: uppercase;
                position: absolute;
                top:40%;
                left:50%;
                transform: translate(-50%,-50%);
                color: $myColorz;
            }
            .heroheader--para{
                    font-family: $myFont;
                    font-weight: bold;
                    font-size:$myFontSize;
                    color: $myColorz;
                    position: absolute;
                    text-align: center;
                    top:60%;
                    left:50%;
                    transform: translate(-50%,-50%);
            }

        }
       //code css section1
        .sectioncontainer{
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;

            .sectioncontainer--titer{
                    font-family: $myFonts;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: $myFontSize;
                    width: 60%;
                    margin: 0 auto;
                    padding-top: 50px;
                    font-weight: bold;
            }
            .sectioncontainer--ligne{
                border: 1px solid $myColorx;
                width: 10%;
                margin: 0 auto;
                margin-top: 20px;
                text-align: center;
            }

            .sectionblock{
                margin-top: 5%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                                    "a b"
                                    "c d"
                                    "e f"
                                    "g h"
                                    "i j"
                                    "k l";
                    .appl{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        .item-photo{
                            width: 100%;
                            height: auto;
                        }

                    }
                    .para {
                             width: 100%;
                             height: auto;
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            
                        .para--sectionblock{
                            width: 80%;
                            font-size: 30px;
                            margin-top:5%;
                            font-family: $myFont;
                        

                        }
                        .titre--sectionblock {
                            // font-weight: bold;
                            text-transform: uppercase;
                            font-size: 30px;
                            font-family: $myFonts;

                        }
                        .commit--sectionblock{
                            width: 80%;
                            font-size: 30px;
                            margin-top:5%;
                            color: $myColorx;
                            font-weight: bold;
                        }
                    }


                                    .item1{
                                        @extend .appl;
                                        grid-area: a;
                                    }
                                    .item2{
                                        grid-area: b;
                                        @extend .para;
                                    }
                                    .item3{
                                        grid-area: c;
                                        @extend .para;


                                    }
                                    .item4{
                                        grid-area: d;
                                        @extend .appl;


                                    }
                                    .item5{
                                        grid-area: e;
                                        @extend .appl;

                                    }
                                    .item6{
                                        grid-area: f;
                                        @extend .para;


                                    }
                                    .item7{
                                        grid-area: g;
                                        @extend .para;


                                    }.item8{
                                        grid-area: h;
                                        @extend .appl;


                                    }
                                    .item9{
                                        grid-area: i;
                                        @extend .appl;


                                    }
                                    .item10{
                                        grid-area: j;
                                        @extend .para;


                                    }
                                    .item11{
                                        grid-area: k;
                                        @extend .para;

                                    }
                                    .item12{
                                        grid-area: l;
                                        @extend .appl;

                                    }
                                    
            
            }
        }
       //code css section 2 
        .sectionKia{
            width: 90%;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom:60px;
            .sectionKia--titre{
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                text-transform: uppercase;
                // margin-top: 50px;
            }
            .sectionkia--para{
                text-align: center;
                font-size: 16px;
                color: $myColora;
            }
            .sectionkia--ligne{
                // @extend .sectioncontainer--ligne;
                border: 1px solid $myColorx;
                text-transform: uppercase;
                width: 5%;
                margin: 0 auto;
                margin-top: 20px;
                text-align: center;
                
            }
            .sectionKia--container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;


                .sectionKia--container--block{
                    width: 30%;
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    .sectionKia--container-photo{
                        margin-bottom: 30px;
                        margin-top: 10px;
                        display: inline-block;
                        color: red;
                        font-size: 50px;
                    }
                    .sectionKia-titre{
                        font-weight: bold;
                        font-size: 20px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                    .sectionKia--para{
                        font-size: 25px;
                        color: $myColora;
                        margin-bottom: 15px;
                        width: 80%;
                        margin: 0 auto;
                    }
                   
                }

            }

        }
        //code css section footer
        .footer {
            background-color: #8080804b;
            height:45vh;

            .footer-container{
                width: auto;
            .section-footer1{
                padding-top: 50px;
                padding-bottom: 30px;
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                .signe-footer1 {
                    width:20% ;
                    .titre-signe{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .signe-ul{
                        margin-top: 30px;
                       list-style-type: none;
                       display: inline-block;
                       cursor: pointer;
                       font-size: 18px;
                       color: $myColora;
                       .list-sgine{
                           padding-top: 10px;
                       }
                    }
                } .signe-footer2 {
                    width: 20%;
                    .titre-signe{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .signe-ul{
                        margin-top: 30px;
                        padding-top:10px;
                        list-style-type: none;
                        display: inline-block;
                        cursor: pointer;
                        font-size: 18px;
                        color: $myColora;
                        .list-sgine{
                            padding-top: 10px;
                        }

                     }
                    
                } .signe-footer3 {
                    width: 20%;
                    .titre-signe{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .signe-ul{
                        margin-top: 30px;
                        padding-top:10px;
                        list-style-type: none;
                        display: inline-block;
                        cursor: pointer;
                        font-size: 18px;
                        color: $myColora;
                        .list-sgine{
                            padding-top: 10px;
                        }

                     }

                }
                .signe-footer4 {
                    color: $myColora;
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    .vertical-line{
                        border-left: 2px solid rgb(179, 168, 168);
                        display: inline-block;
                        height: 30px;
                        margin: 0 20px;
                      }
                   
                    .signe-footer4-item1{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .signefooter4-titre{
                            .signefooter4-__mod1{
                                font-size: 16px;
                                font-family: $myFonts;
                            }
                            .signefooter4-__mod2{
                                font-size: small;
                            }
                        }
                        


                    }
                    .signe-footer4-item2{
                        padding-top: 20px;
                    }
                    .signe-footer4-item3{
                        padding-top: 20px;
                    }
                }
            }
            .section-footer2{
                width: 90%;
                margin: 0 auto;

                .footer2-signe1{
                    float: left;
                    color: $myColora;
                }
                .footer2-signe2 {
                   float: right;
                    .footer2--item{
                        .vertical-line{
                            border-left: 1px solid rgb(179, 168, 168);
                            display: inline-block;
                            height: 10px;
                            margin: 0 20px;
                          }
                   .footer2--item1{
                   
                    color: $myColora;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    list-style-type: none;
                    display: inline-block;
                    font-weight: bold;
                    cursor: pointer;
                 
                   }
                    }

                }
            }

        }
    }

       
}
}
